[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
black = "*"
python-dotenv = "*"
langchain-ollama = "*"
langchain-huggingface = "*"
huggingface-hub = "*"

[dev-packages]
langchain = "*"
pydantic = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
